{% extends 'base.html.twig' %}

{% block body %}


    <table style=" tr:hover background-color: #f5f5f5">
        <tbody>
        <tr><h1>Game</h1></tr>
            <tr>
                <th>Title</th>
                <td>{{ game.title }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ game.year }}</td>
            </tr>
            <tr>
                <th>GenreId</th>
                <td>{{ game.genre.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>

            <tr>
                <th>Uploaded By</th>
                <td>
                    <a href="{{ path('user_show', { 'id': game.uploadedBy.id }) }}">{{ game.uploadedBy.username }}</a>
                </td>

            </tr>
            <tr>
                <th>Upvotes</th>
                <td>{{ game.upvotes }}</td>
            </tr>

            <tr>
                <img style="height: 25%; width: 30%;" src="{{ game.cover }}" alt="Symfony!" />
            </tr>
        </tbody>
    </table>



    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
