{% extends 'base.html.twig' %}

{% block body %}

<div>
    <table class="table table-condensed" style="width: 45%; margin: 10%">
        <tbody>
        <tr>
            <img style="width: 250px; height: 200px; margin-left:  20%; margin-bottom: -8%"
                 class="img-thumbnail" src="{{ game.cover }}"
                 alt="Symfony!" />
        </tr>
            <tr>
                <th>Title</th>
                <td>{{ game.title }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ game.year }}</td>
            </tr>

            <tr>
                <th>Genre</th>
                <td>{{ game.genre.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>

            <tr>
                <th>Uploaded By</th>
                <td>
                    <a href="{{ path('user_show', { 'id': game.uploadedBy.id }) }}">{{ game.uploadedBy.username }}</a>
                </td>

            </tr>
            <tr>
                <th>Upvotes</th>
                <td>{{ game.upvoters|length }}</td>
            </tr>
            <tr>
                <th>Downvotes</th>
                <td>{{ game.downvoters|length }}</td>
            </tr>
            <tr>
                <th>Uploaded At</th>
                <td>{{ game.uploadedAt|date('d-m-Y') }}</td>
            </tr>
        <tr>
            <th>
                <a href="{{ path('game_upvoters', {'id': game.id }) }}">See voting details</a>
            </th>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </tr>
    </table>
</div>

    {% if game.isUploader(app.user) %}
        <ul>
            <li>
                <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    {% endif %}

{% endblock %}
