{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-left: 5%">
        <a href="{{ path('game_show', { 'id': game.id }) }}">Back to {{ game.title }}</a>
        <h1>Alle ratings voor {{ game.title }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for upvoter in game.upvoters %}
                <tr>
                    <td>
                        <a href="{{ path('user_show', { 'id': upvoter.id }) }}"> {{ upvoter.username }}</a>
                    </td>
                    <td>
                        {% if game.upvoter(upvoter) %}
                            <span style="color:green" class="glyphicon glyphicon-thumbs-up" aria-hidden="true" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for downvoter in game.downvoters %}
                <tr>
                    <td>
                        <a href="{{ path('user_show', { 'id': downvoter.id }) }}"> {{ downvoter.username }}</a>
                    </td>
                    <td>
                        {% if not game.upvoter(downvoter) %}
                            <span style="color:red" class="glyphicon glyphicon-thumbs-down" aria-hidden="true" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>

{% endblock %}