{% trans_default_domain 'FOSUserBundle' %}

<div style="margin-left: 15%">
    <h1>Register</h1>
<form class="form-horizontal">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
   {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.plainPassword) }}

<div>
    <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
    </form>
</div>
