{% extends 'base.html.twig' %}

{% block body %}
    <h1>User {{ user.username }}</h1>
{% if is_granted('ROLE_USER') %}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') or user.userAllowed(app.user) %}

            <tr>
                <th>Password</th>
                <td>******</td>
            </tr>
            {% endif %}
    <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    {% elseif is_granted('ROLE_ADMIN') or user.userAllowed(app.user) %}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% else %}
    <div style="margin-top: -1.6%;" class="alert alert-danger" role="alert"><h1>⛔ 403 Forbidden ⛔       🙄️</h1></div>

{% endif %}
{% endblock %}
